#ageErrorIcon,
#deductionsErrorIcon,
#extraIncomeErrorIcon,
#incomeErrorIcon {
    display: none;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #B6BABE;
    border-right: none;
}

.error-box {
    border: 1px solid #B6BABE;
    border-left: none;
    display: flex;
    align-items: center;
}

input.form-control {
    border: 1px solid #B6BABE;
    border-right: none;
    border-radius: 0%;
}

.taxModal {
    width: 50vw;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}